body {
	margin: 0;
	z-index: 1;
}

div {
	display: block;
}

.site-container {
	min-height: 100%;
	margin: auto;
	display: flex;
}

.hdr {
	position: absolute;
	border-bottom: 0;
	width: 100%;
	z-index: 1;

}

.hdr-top {
	position: relative;
	left: 0;
	top: 0;
	right: 0;
	background-color: rgb(244, 114, 93);
	color: rgb(255, 255, 255);
	height: 50px;
	z-index: 2;
}

.nav-panel {
	position: relative;
	height: 100%;
	bottom: -20px;
	z-index: 3;
}

.nav {
	position: relative;
	left: 10px;
}

.nav-item {

}

.about {

}

.hdr-bot {
	position: relative;
	display: table;
	height: 50px;
	width: 100%;
	box-sizing: border-box;
	padding: 0 0 0 0;
	color: #262626
	background-color: #f2f2f2;
}

.site-name {
	vertical-align: top;
	width: 35%;
	padding-left: 5px;
}

.logo {
	position: relative;
	text-align: center;
	z-index: 3;
	bottom: 15px;
}

.menu-top {

}

.tabs-nav {
	display: table;
	margin: 50px;
	padding: 0;
}
.tabs-nav li {
	width: 1%;
	display: table-cell;
	vertical-align: top;
	text-align: center;
	z-index: 4;
}